/* MLapas dancers css fails */
*{
   margin:0px;
   padding:0px;
   list-style-type:none;
}

header,nav,article,section,footer,aside{
   display:block;

}

.A {
width:800px;
margin:auto;
}
.noslept {
background:#666;
width:780px;
margin:0px auto;
color:#ffffff;
padding:10px;
	
}

.clear{
	clear:both;
}

.logo{
 height:259px;
 width:195px;
 float:left;
}

.top_nav{
     float:left;
     width:805px;

}

/*Float aside and main section */
.tab1{
	float:left;
	width:700px;
}
.right_side{
    margin:auto;
    width:500px;
}
.tab1 article{
	border:2px solid red;
	margin-right:10px;
	padding:10px;
}
.right_side div{
	border:2px solid blue;
	margin:10px 0px 10px 0px; /*top left bottom right*/
	padding:10px;
}




/*make footer clear floated elements*/
.page_footer{
	clear:both;
	text-align:center;
}


body{
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(bildes/bg.png)
}

.header, .izvelne2{
	margin: 10px auto;
	background-color:#666;
	width: 800px;
}  


.izvelne2 {
background:#666;
padding:10px;
}

.izvelne2  li{
list-style-type:none;  /*tiek noòemta nesakârtotâ saraksta simbols pirms nosaukuma*/
display:inline; /* saraksts tiek atspoguïots horizontâli (pçc noklusçjuma tiek atspoguïots vertikâli) */
}

.izvelne2 li a{
text-decoration:none; /*tiek noòemts noklusçtâ krâsa */
background:#666;
color:#ffffff; /* teksta krâsa */
padding:10px; /*attalums no teksta lîdz taisnastûra malâm*/
}

.izvelne2 li a:hover{
padding:20px;
}

hr{
background-color:#ffffff;
height:1px;
border:0px;
}

img {
height:100px;
width:100px;
border:4px;
padding:10px;
}
.mans_foto {
height:300px;
width:200px;


}

